<div class="flash {{.FlashType}}">
    <p>
        {{ if flashIsContentTypeHTML .FlashContentType }}
            {{ .MessageHTML }}
        {{ end }}

        {{ if flashIsContentTypeJS .FlashContentType }}
            {{ .MessageJS }}
        {{ end }}

        {{ if flashIsContentTypeString .FlashContentType }}
            {{ .Message }}
        {{ end }}
    </p>
</div>