<html>
<head>
<style>
.alert {
    color: orange;
}
.error {
    color: red;
}
.info {
    color: blue;
}
.success {
    color: green;
}
</style>
</head>
<h1>Base Layout</h1>
{{template "../_templates/_nav.html" .}}
{{if .flashes}}
<h3>Flashes</h3>
{{range .flashes}}
    {{template "../_templates/_flash.html" .}}
{{end}}
{{end}}
{{render}}
{{template "../_templates/_footer.html" .}}
</html>